.languages {
  position: relative;
  &__input {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    cursor: pointer;

    &_icon {
      transform: rotate(180deg);

      transition: transform 0.25s ease;
    }

    &-value {
      margin-right: 0.5rem;
    }
  }

  &--opened {
    .languages__input {
      &_icon {
        transform: rotate(-180deg);
      }
    }

    .languages__dropdown {
      z-index: 2;

      transform: scale(1);
    }
  }

  &__dropdown {
    width: 144px;

    position: absolute;
    top: calc(100% + 0.25rem);
    right: 0;
    z-index: -2;

    background-color: #fff;
    box-shadow: $languages-shadow;
    border-radius: $input-br;

    transform: scale(0);

    transition: transform 0.25s ease;

    &-item {
      display: flex;
      align-items: center;

      padding: 0.625rem 1rem;
      cursor: pointer;

      transition: background-color 0.25s ease;

      &:hover {
        background-color: #f7f7f7;
      }

      &__icon {
        margin-right: 0.5rem;
      }
    }
  }
}
