// --------------------------------------------------------------------------
// Base Link
// --------------------------------------------------------------------------

.link {
  position: relative;

  font-weight: 700;
  font-size: $caption-fs;

  &:hover:before {
    width: 100%;
  }

  &:before {
    content: "";

    position: absolute;
    bottom: -4px;
    left: 0;

    width: 0;
    height: 1px;

    transition: width 0.25s ease;
  }
}

// --------------------------------------------------------------------------
// Accent Link
// --------------------------------------------------------------------------

.link--accent {
  color: $accent-color;

  &:before {
    background-color: $accent-color;
  }

  &:hover {
    color: #de1e1c;
  }
}

// --------------------------------------------------------------------------
// Inverted Link
// --------------------------------------------------------------------------

.link--inverted {
  color: #fff;

  &:before {
    background-color: $gray-text-color;
  }
}

// --------------------------------------------------------------------------
// White Link
// --------------------------------------------------------------------------

.link--white {
  color: #fff;

  &:before {
    background-color: #fff;
  }
}
