// --------------------------------------------------------------------------
// Base Link
// --------------------------------------------------------------------------

.link {
  position: relative;

  @include caption;

  &:before {
    content: "";

    position: absolute;
    bottom: -4px;
    left: 0;

    width: 100%;
    height: 1px;
  }
}

// --------------------------------------------------------------------------
// Accent Link
// --------------------------------------------------------------------------

.link--accent {
  color: $accent-color;

  &:before {
    background-color: $accent-color;
  }
}

// --------------------------------------------------------------------------
// Inverted Link
// --------------------------------------------------------------------------

.link--inverted {
  color: #fff;

  &:before {
    background-color: $gray-text-color;
  }
}

// --------------------------------------------------------------------------
// White Link
// --------------------------------------------------------------------------

.link--white {
  color: #fff;

  &:before {
    background-color: #fff;
  }
}
