.tags-list {
  width: 100%;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.tag {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 80px;
  padding: 0.5rem 0.625rem;
  margin-bottom: 0.5rem;

  background-color: #fff;
  border-radius: $tag-br;
  border: 1px solid $accent-color;

  @include caption();
  color: $placholder-text-color;
  cursor: pointer;

  transition: background-color 0.25s ease, color 0.25s ease;

  &:hover {
    background-color: $accent-color;
    color: #fff;
  }

  &--active {
    background-color: $accent-color;
    color: #fff;
  }
}
