.section-seo-text {
  padding: 5rem 0;

  background-color: $light-bg;

  .seo-text__headline {
    margin-bottom: 2rem;
  }

  .row {
    .col-6.seo-text-right {
      padding-right: 0;
      padding-left: 0;
    }
  }

  .seo-text__list {
    &-item {
      display: flex;
      align-items: flex-start;

      list-style: none;

      margin-bottom: 0.5rem;

      &__icon {
        min-width: 24px;

        margin-right: 0.25rem;
      }
    }
  }
}

@import "./seo-text-media";
