// --------------------------------------------------------------------------
// Media max-width: 768px -- Start
// --------------------------------------------------------------------------

@media screen and (max-width: 768px) {
  .section-seo-text {
    padding: 2.5rem 0;
    .row {
      .seo-text-right {
        margin-top: 2.5rem;
      }
    }
  }
}

// --------------------------------------------------------------------------
// Media max-width: 768px -- End
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
// Media max-width: 425px -- Start
// --------------------------------------------------------------------------

@media screen and (max-width: 425px) {
  .section-seo-text {
    .seo-text__headline {
      margin-bottom: 1rem;
    }
    .row {
      .seo-text__content {
        padding: 0;
      }
      .seo-text-right {
        margin-top: 2rem;
      }
    }
  }
}

// --------------------------------------------------------------------------
// Media max-width: 425px -- End
// --------------------------------------------------------------------------
