body#checkout {
  .header {
    border-bottom: 1px solid #f0f0f0;

    &__back {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      cursor: pointer;
      svg {
        margin-right: 0.25rem;
      }
    }
  }
}

.header {
  position: relative;

  padding: 2.5rem 0;

  .col-2,
  .col-6 {
    padding-left: 0;
    padding-right: 0;
  }

  &-link {
    &:hover {
      .header-link__icon {
        &::before {
          width: 2px;
        }

        svg {
          transform: translateX(1px);
        }
      }
    }

    &__icon {
      position: relative;

      display: flex;
      align-items: center;

      margin-left: 0.5rem;

      &::before {
        content: "";

        position: absolute;
        left: 0;

        width: 0;
        height: 2px;

        background-color: $accent-color;

        transition: width 0.25s ease;
      }
    }
  }

  &__promo {
    padding-top: 4rem;
  }

  &__logo {
    display: block;
    width: 100%;

    img {
      width: 110%;
    }
  }
  &__headline {
    max-width: 522px;

    font-size: 48px;
    font-weight: $h1-fw;
    color: $text-color;

    margin-bottom: 0.5rem;
  }
  &__description {
    margin-bottom: 24px;
  }
  &__map {
    min-height: 472px;

    img {
      position: absolute;
      right: 0;
    }
  }
}

@import "./header-media";
