// --------------------------------------------------------------------------
// Media max-width: 768px -- Start
// --------------------------------------------------------------------------

@media screen and (max-width: 768px) {
  .header {
    padding: 2.75rem 0;
    &__headline {
      max-width: 92%;
      font-size: $h1-fs;
    }

    &__map {
      min-height: 264px;
      img {
        width: 300px;
        height: auto;
      }
    }
  }
}

// --------------------------------------------------------------------------
// Media max-width: 768px -- End
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
// Media max-width: 425px -- Start
// --------------------------------------------------------------------------

@media screen and (max-width: 425px) {
  body#checkout {
    .header {
      padding: 1rem;
      &__top-line {
        margin-bottom: 0rem;
      }
    }
  }

  .header {
    padding: 1rem 0 3rem 0;
    &__top-line {
      margin-bottom: 3.5rem;
    }
    &__headline {
      max-width: 100%;
      font-size: $h1-fs--mobile;
    }
    &__description {
      font-size: 0.9375rem;
      margin-bottom: 1rem;
    }
  }
}

// --------------------------------------------------------------------------
// Media max-width: 425px -- End
// --------------------------------------------------------------------------
