.section-faq {
  position: relative;
  z-index: 2;

  padding-top: 120px;

  .section-title {
    text-align: center;
    margin-bottom: 2.5rem;
  }

  .col-11,
  .col-1 {
    padding-left: 0;
    padding-right: 0;
  }

  // --------------------------------------------------------------------------
  // FAQ List
  // --------------------------------------------------------------------------

  .faq-list {
    &__item--active.faq-list__item {
      padding-bottom: 24px;
    }
    &__item--active {
      .faq-list__item--visible {
        .question {
          padding-bottom: 24px;

          color: $accent-color;
        }
      }
      .faq-list__item--hidden {
        opacity: 1;
        z-index: 1;
        .answer {
          visibility: visible;
          opacity: 1;
        }
      }
      .faq-list__item-button:before {
        width: 0;
      }
    }
    &__item {
      align-items: center;

      border-bottom: 1px solid #f0f0f0;

      &:first-child {
        border-top: 1px solid #f0f0f0;
      }

      &:hover {
        cursor: pointer;
        .question {
          color: $accent-color;
        }
      }

      .question {
        padding: 32px 0;

        color: $text-color;

        transition: color 0.25s ease;
        .index {
          color: $gray-text-color;
        }
      }

      .answer {
        visibility: hidden;
        opacity: 0;

        transition: opacity 0.25s ease;
      }

      &--visible {
        align-items: center;

        .col-1 {
          display: flex;
          justify-content: flex-end;
        }
      }

      &--hidden {
        margin-top: 0;
        height: 0;

        opacity: 0;
        z-index: -1;

        transition: height 0.25s linear;
      }

      // --------------------------------------------------------------------------
      // FAQ List Item Button
      // --------------------------------------------------------------------------

      &-button {
        display: flex;
        align-items: center;
        justify-content: center;

        position: relative;
        width: 40px;
        height: 40px;

        background-color: transparent;
        border-radius: 50%;
        border: 2px solid $gray-text-color;

        &:before,
        &:after {
          content: "";

          position: absolute;
          width: 12px;
          height: 2px;

          border-radius: 1px;
          background-color: $gray-text-color;

          transition: width 0.25s ease;
        }

        &:before {
          transform: rotate(90deg);
        }
      }
    }
  }
}

@import "./faq-media";
