// --------------------------------------------------------------------------
// Media max-width: 768px -- Start
// --------------------------------------------------------------------------

@media screen and (max-width: 768px) {
  .section-faq {
    padding-top: 4rem;
  }
}

// --------------------------------------------------------------------------
// Media max-width: 768px -- End
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
// Media max-width: 425px -- Start
// --------------------------------------------------------------------------

@media screen and (max-width: 425px) {
  .section-faq {
    padding-top: 4rem;

    .faq-list__item-button {
      width: 32px;
      height: 32px;
    }
  }
}

// --------------------------------------------------------------------------
// Media max-width: 425px -- End
// --------------------------------------------------------------------------
