// --------------------------------------------------------------------------
// Grid
// --------------------------------------------------------------------------

.container {
  max-width: $desktop-container;
  width: 100%;
  margin: 0 auto;
}

// --------------------------------------------------------------------------
// Headline Level 1
// --------------------------------------------------------------------------

.content__headline--h1 {
  font-weight: $h1-fw;
  font-size: $h1-fs;
  line-height: 36px;
  color: $text-color;
}

// --------------------------------------------------------------------------
// Headline Level 3
// --------------------------------------------------------------------------

.content__headline--h3 {
  font-weight: $h3-fw;
  font-size: $h3-fs;
  line-height: 24px;
  color: $placholder-text-color;
}

// --------------------------------------------------------------------------
// Paragraph
// --------------------------------------------------------------------------

.content__paragraph {
  font-weight: $p-fw;
  font-size: $p-fs;
  line-height: 24px;

  &--main {
    color: $placholder-text-color;
  }

  &--inverted {
    color: #fff;
  }

  &--gray {
    color: $gray-text-color;
  }
}

// --------------------------------------------------------------------------
// Caption
// --------------------------------------------------------------------------

.content__caption {
  font-weight: $p-fw;
  font-size: $caption-fs;
  line-height: 20px;
}
