// --------------------------------------------------------------------------
// Container
// --------------------------------------------------------------------------

.container {
  max-width: $desktop-container;
  width: 100%;
  margin: 0 auto;
}

// --------------------------------------------------------------------------
// Row
// --------------------------------------------------------------------------

.row {
  display: flex;
  flex-wrap: wrap;
}

.row > * {
  max-width: 100%;
  padding-right: calc(#{$gutter-x} / 2);
  padding-left: calc(#{$gutter-x} / 2);
}

// --------------------------------------------------------------------------
// Columns
// --------------------------------------------------------------------------

.col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

// --------------------------------------------------------------------------
// Offset
// --------------------------------------------------------------------------

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

// --------------------------------------------------------------------------
// Horizontal Alingment
// --------------------------------------------------------------------------

.jc-space-between {
  justify-content: space-between;
}

.jc-space-around {
  justify-content: space-around;
}

.jc-flex-start {
  justify-content: flex-start;
}

.jc-flex-end {
  justify-content: flex-end;
}

.jc-center {
  justify-content: center;
}

// --------------------------------------------------------------------------
// Verical Alingment
// --------------------------------------------------------------------------

.ai-center {
  align-items: center;
}

.ai-flex-start {
  align-items: flex-start;
}

.ai-flex-end {
  align-items: flex-end;
}
