// --------------------------------------------------------------------------
// Colors
// --------------------------------------------------------------------------
$accent-color: #e72d2b;
$text-color: #1c2b39;
$placholder-text-color: #495966;
$gray-text-color: #a1a1a6;
$hovered-button-color: #de1e1c;

// --------------------------------------------------------------------------
// Gradient
// --------------------------------------------------------------------------

$risks-gradient: linear-gradient(103.85deg, #1f1f21 -2.84%, #3c3c41 102.13%);

// --------------------------------------------------------------------------
// Fonts
// --------------------------------------------------------------------------

$main-ff: "Montserrat";

// --------------------------------------------------------------------------
// Fonts Weight
// --------------------------------------------------------------------------

$h1-fw: 900;
$h3-fw: 600;
$p-fw: 500;

// --------------------------------------------------------------------------
// Fonts Sizes
// --------------------------------------------------------------------------

$h1-fs: 1.75rem;
$h2-fs: 1rem;
$h3-fs: 1rem;
$caption-fs: 0.8rem;
$p-fs: 0.9375rem;

$h1-fs--mobile: 1.25rem;
$h2-fs--mobile: 1rem;
$h3-fs--mobile: 1rem;
$caption-fs--mobile: 0.8125rem;
$p-fs--mobile: 0.8125rem;

// --------------------------------------------------------------------------
// Box Shadows
// --------------------------------------------------------------------------

$main-button-shadow: 0px 6px 20px -6px rgba(231, 45, 43, 0.5);
$input-shadow: 0px 8px 40px -8px rgba(31, 31, 33, 0.1);
$program-shadow: 0px 8px 40px -8px rgba(31, 31, 33, 0.1);
$languages-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);

// --------------------------------------------------------------------------
// Backgrounds
// --------------------------------------------------------------------------

$light-bg: #fafafa;
$footer-bg: #1f1f21;

// --------------------------------------------------------------------------
// Container Width
// --------------------------------------------------------------------------

$desktop-container: 1128px;
$table-container: 680px;
$mobile-container: 292px;

$tablet-padding: 44px;
$mobile-padding: 14px;

$gutter-x: 1.5rem;

// --------------------------------------------------------------------------
// Border Radius
// --------------------------------------------------------------------------

$main-button-br: 8px;
$input-br: 8px;
$tag-br: 100px;
$block-br: 10px;
$circle-br: 50%;
