.section-checkout {
  min-height: 560px;

  position: relative;
  z-index: 1;

  padding-bottom: 72px;

  &__bg {
    position: absolute;
    z-index: -1;
  }

  .section-title {
    margin-bottom: 40px;

    text-align: center;
  }

  .country-tags {
    margin-top: 2rem;
    .tag {
      margin-right: 0.5rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  // --------------------------------------------------------------------------
  // Checkout Form
  // --------------------------------------------------------------------------

  .section-checkout__form {
    display: none;
  }
}

@import "./checkout-media";
