.section-contact {
  padding: 7rem 0 5.5rem 0;

  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;

  .row > .col-6 {
    padding-right: 0;
    padding-left: 0;
  }

  &__bg {
    position: absolute;
    z-index: -1;
  }

  .section-title {
    margin-bottom: 1rem;
  }

  &__description {
    margin-bottom: 1rem;
  }

  &__phone {
    margin-bottom: 0.5rem;

    a {
      color: $accent-color;
    }
  }

  &__info {
    margin-bottom: 2.5rem;
  }

  &__action {
    display: flex;
    justify-content: center;
  }
}

@import "./contact-media";
