// --------------------------------------------------------------------------
// Media max-width: 425px -- Start
// --------------------------------------------------------------------------

@media screen and (max-width: 425px) {
  // --------------------------------------------------------------------------
  // Headline Level 1
  // --------------------------------------------------------------------------

  .content__headline--h1 {
    font-weight: $h1-fw;
    font-size: $h1-fs--mobile;
    line-height: 1.75rem;

    &_main {
      color: $text-color;
    }

    &_inverted {
      color: #fff;
    }
  }

  .content__headline--h2 {
    font-weight: $h1-fw;
    font-size: $h2-fs--mobile;
    line-height: 1.375rem;

    &_main {
      color: $text-color;
    }

    &_accent {
      color: $accent-color;
    }
  }

  // --------------------------------------------------------------------------
  // Headline Level 3
  // --------------------------------------------------------------------------

  .content__headline--h3 {
    font-weight: $h3-fw;
    font-size: $h3-fs--mobile;
    line-height: 1.375rem;

    &_main {
      color: $placholder-text-color;
    }

    &_inverted {
      color: #fff;
    }
  }

  // --------------------------------------------------------------------------
  // Paragraph
  // --------------------------------------------------------------------------

  .content__paragraph {
    font-weight: $p-fw;
    font-size: $p-fs--mobile;
    line-height: 1.25rem;

    &--main {
      color: $placholder-text-color;
    }

    &--inverted {
      color: #fff;
    }

    &--gray {
      color: $gray-text-color;
    }
  }

  // --------------------------------------------------------------------------
  // Caption
  // --------------------------------------------------------------------------

  .content__caption {
    font-weight: $p-fw;
    font-size: $caption-fs--mobile;
    line-height: 1.25rem;

    &--inverted {
      color: #fff;
    }

    &--gray {
      color: $gray-text-color;
    }
  }
}

// --------------------------------------------------------------------------
// Media max-width: 425px -- End
// --------------------------------------------------------------------------
